# Python virtual environments
venv/
venv331/
venv312/
**/venv*/
**/venv312*/
**/venv331*/

# Python caches
__pycache__/
*.pyc
*.pyo
*.pyd

# Executables
*.exe

# Model files
EXTRA_THINGS/all_dataset/
*.h5

# Logs, junk, OS-specific
*.log
.DS_Store
Thumbs.db
